* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


/* main style */
header {
    background: #1A0B2E;

}

nav {
    width: 100%;
    height: 92px;
    max-width: 1920px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 200px 16px 200px;

}

nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;

}

nav .menu a {
    font-size: 16px;
    color: #fdfdfd;
    text-decoration: none;
}

nav .btn {

    width: 135px;
    height: 44px;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    gap: 4px;
    color: #ffffff;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
}

.hero {
    background: url(../assets/hero-bg.png)center/cover no-repeat;
    min-height: 760px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.circle {
    width: 400px;
    height: 400px;
    margin-bottom: 40px;
    border: 8px solid #2A186C;
    border-radius: 100%;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    display: flex;
    align-items: center;
    justify-content: center;


}

.Tech {
    text-align: center;
    gap: 8px;
}

.Tech h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 8px;
}

.Tech p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.btn1 {
    width: 201px;
    height: 44px;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #ffffff;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
}

.btn2 {
    width: 147px;
    height: 44px;
    border: 1px solid #00FF88;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #00FF88;
    border-radius: 10000px;
    background: transparent;

}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 24px;
}

.img {
    width: 180px;
}

.about {
    min-height: 646px; 
    background: #1A0B2E;
    text-align: center;
    color: white;
    padding: 80px 10% 120px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;

}

.about p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 79px;
}
.ditals{
    border-bottom: 1px solid white;
    margin-bottom: 80px;
    max-width: 1600px;
}
.review {
    display: flex;
    height: 94px;
    gap: 80px;
    
   
}

.detail h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    color: #00FF88;
}
/* Section */
.techwave {
  padding: 120px 300px;
  margin: auto;
  background: #120021;
  color: #fff;
}

/* Title */
.section-title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 40px;
  color: #ffffff;
  
}

/* Cards Grid */
.cards {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 40px;
}

/* Card */
.card {
  background: linear-gradient(145deg, #1e0035, #2a004a);
  padding: 25px;
  border-radius: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card1 {
    width: 380px;
    height: 480px;
  background: linear-gradient(145deg, #1e0035, #2a004a);
  padding: 40px;
  grid-row: span 2;
  border-radius: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card2 {
  background: linear-gradient(145deg, #1e0035, #2a004a);
  padding: 25px;
  grid-column: span 2;
  border-radius: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card3 {
  background: linear-gradient(145deg, #1e0035, #2a004a);
  padding: 25px;
  grid-column: span 2;
  border-radius: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card4 {
  background: linear-gradient(145deg, #1e0035, #2a004a);
  padding: 25px;
  grid-column: span 2;
  border-radius: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px rgba(124, 58, 237, 0.4);
}

/* Icon */
.icon {
  font-size: 32px;
  margin-bottom: 15px;
}

/* Text */
.card h3 {
  font-size: 24px;
  margin-bottom: 16px;
}

.card p {
  font-size: 16px;
  color: #d1cbe8;
  line-height: 24px;
}


/* Medium Device */
@media (max-width: 992px) {

    .about {
        padding: 70px 8%;
    }

    .about h1 {
        font-size: 38px;
    }

    .about p {
        font-size: 15px;
        margin-bottom: 60px;
    }

    .review {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        height: auto;
    }

    .detail {
        width: 40%;
    }

    .detail h1 {
        font-size: 40px;
    }
}

/* Small Device */
@media (max-width: 576px) {
  .menu{
        position:absolute;
        top:70px;
        left:0;
        width:100%;
        background:#0d0d0d;
        flex-direction:column;
        align-items:center;
        gap:20px;
        padding:20px 0;
        display:none;
    }

    .menu.active{
        display:flex;
    }

    .menu-toggle{
        display:block;
    }

    nav div{
        display:none; /* hide subscribe btn on mobile */
    }
    .about {
        padding: 40px 20px 40px 20px;
    }

    .about h1 {
        font-size: 32px;
    }

    .about p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 40px;
    }

    .ditals {
        margin-bottom: 40px;
    }

    .review {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        height: auto;
        /* flex-direction: column;
        gap: 30px;
        height: auto; */
    }

    .detail {
        width: 100%;
    }

    .detail h1 {
        font-size: 32px;
    }
     .section-title {
    font-size: 1.6rem;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}

